<div class="content">
    <div class="header">
        My To-Do App
    </div>
    <div class="app-create-list-item">
        <input class="add-input" type="text" [(ngModel)]="textTask">
        <button class="button-add" (click)="addToTasks()">Добавить</button>
    </div>

    <div class="app-list-item" *ngFor="let task of tasks; let i = index" [class.list-true]="taskTrue[i]===true">
        <div class="list-task" contenteditable="true">
            {{task}}
        </div>
        <button class="button-remove" (click)="removeThisTask(i)">Удалить</button>
        <button class="button-complite" (click)="taskTrue[i]=!taskTrue[i]">Выполнил</button>
    </div>
</div>