<div class ="content">
    <div class="header">
        My To-Do App
    </div>
    <div class="add_to_list"> 
        <input  class = "add_input" type="text" #myInput (input) ="inputOn(myInput.value)" [value]="textTask"> 
        <button class="button_add" (click)= "addToTasks()" >Добавить</button>
    </div>
    
    <div class="lists" *ngFor ="let task of tasks; let i = index" >
        <div class = "list_task" contenteditable="true">
            {{task}}
        </div>
        <button class="button_remove" (click)= "removeThisTask(i)" >Удалить</button>
    </div>
</div>
